<template>
  <div>
    <v-flex xs12 sm12 md1>
      <new-field-modal></new-field-modal>
    </v-flex>
    <v-data-table
      :headers="headers"
      :items="fields"
      :rowsPerPageItems="[10]"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">
          {{ $store.state.segmentName }}-{{ props.item.fld_order }}
        </td>
        <!-- ###################### -->
        <td>
          <v-edit-dialog
            :return-value.sync="props.item.fld_name"
            lazy
          > {{ props.item.fld_name }}
            <v-text-field
              slot="input"
              v-model="props.item.fld_name"
              label="Edytuj"
              single-line
              @blur="saveItem(props.item)"
            ></v-text-field>
          </v-edit-dialog>
        </td>
        <!-- ####################### -->
        <td>
          <v-edit-dialog class="description-column"
                         :return-value.sync="props.item.fld_description"
                         lazy
          > {{ props.item.fld_description }}
            <v-text-field
              slot="input"
              v-model="props.item.fld_description"
              label="Edytuj"
              textarea
              @blur="saveItem(props.item)"
            ></v-text-field>
          </v-edit-dialog>
        </td>
        <td class="lastTd">
          <v-btn @click="confirmDelete(props.item)" color="primary" dark left>
            <v-icon>delete</v-icon>
          </v-btn>
        </td>
      </template>
      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
  import NewField from './NewFieldModal'

  export default {
    data() {
      return {
        deleteSegmentDialog: false,
        pagination: {},
        headers: [
          {
            text: '#',
            align: 'left',
            sortable: false,
            value: 'fld_order'
          },
          {text: 'Nazwa pola', value: 'field_name'},
          {text: 'Opis pola', value: 'field_description'},
          {text: '', value: ''},
        ]
      }
    },

    methods: {
      confirmDelete: function (item) {
        let $this = this;
        $this.$http.delete(this.$baseAddr + '/field', {
          params: {
            dataset: $this.$store.state.dataset,
            fieldId: item.fld_id,
            segmentId: $this.$store.state.segmentId,
          }
        })
          .then(function () {
            $this.deleteSegmentDialog = false;
            $this.loadFields();
          })
          .catch(function (error) {
            console.log(error);
          });
      },

      deleteItem: function () {
        this.deleteSegmentDialog = true;
      },

      saveItem: function (item) {
        let $this = this;
        $this.$http.put(this.$baseAddr + '/field', {
          dataset: $this.$store.state.dataset,
          fieldId: item.fld_id,
          fieldName: item.fld_name,
          fieldDescription: item.fld_description
        })
          .then(function (response) {
            $this.loadFields()
          })
          .catch(function (error) {
            console.log(error);
          });
      },

      loadFields: function () {
        this.$store.state.actualViewMessage = "Lista segmetnów / " + this.$store.state.segmentName;
        let $this = this;
        if (!this.$store.getters.isSegmentSelected) {
          this.$router.push('/');
          return;
        }
        $this.$http.get(this.$baseAddr + '/message-segment', {
          params: {
            'dataset': $this.$store.state.dataset,
            'segmentId': $this.$store.state.segmentId
          }
        })
          .then(function (response) {
            $this.$store.state.fieldList = response.data;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },

    mounted() {
      this.loadFields();
    },

    computed: {
      fields: function () {
        return this.$store.state.fieldList
      }
    },

    components: {
      'new-field-modal':
      NewField
    }
  }
</script>

<style scoped>
  .description-column {
    text-align: left;
  }
</style>
