<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-btn fixed right slot="activator" color="primary" dark class="mb-2">Dodaj nowe pole</v-btn>
    <v-card>
      <v-card-title>
        <span class="headline">Stwórz nowe pole</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm12 md12>
              <v-text-field v-model="fieldName" label="Nazwa pola"></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12>
              <p class="subheading">Opis pola</p>
            </v-flex>
            <v-flex xs12 sm12 md12>
              <v-text-field
                slot="input"
                label="Edytuj"
                v-model="fieldDescription"
                textarea
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'new-field-modal',

    data: function () {
      return {
        dialog: false,
        fieldName: '',
        fieldDescription: ''
      }
    },

    methods: {
      close: function () {
        this.dialog = false;
      },

      save: function () {
        let $this = this;
        this.$http.post($this.$baseAddr + '/field', {
          dataset: $this.$store.state.dataset,
          fieldName: $this.fieldName,
          fieldDescription: $this.fieldDescription,
          segmentId: $this.$store.state.segmentId
        })
          .then(function (response) {
            $this.$store.state.fieldList = response.data;
            $this.close();
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  }
</script>

<style scoped>
  .subheading {
    float: left;
    margin-bottom: -20px;
  }
</style>
