<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-btn fixed right  slot="activator" color="primary" dark class="mb-2">Stwórz nowy segment</v-btn>
    <v-card>
      <v-card-title>
        <span class="headline">Stwórz nowy segment</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm12 md12>
              <v-text-field v-model="segmentName" label="Nazwa segmentu"></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12>
              <p class="subheading">Opis segmentu</p>
            </v-flex>
            <v-flex xs12 sm12 md12>
              <v-text-field
                slot="input"
                label="Edytuj"
                v-model="segmentDescription"
                textarea
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import EventBus from '../../event-bus'


  export default {
    name: 'new-segment-modal',

    data: function () {
      return {
        dialog: false,
        segmentDescription: "",
        segmentName: "",
      }
    },

    methods: {
      close: function () {
        this.dialog = false;
      },

      save: function () {
        let $this = this;
        this.$http.post($this.$baseAddr + '/message-segment', {
          dataset: $this.$store.state.dataset,
          segmentName: $this.segmentName,
          segmentDescription: $this.segmentDescription
        })
          .then(function (response) {
            EventBus.$emit('SegmentsListLoad');
            $this.close();
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },

    props: ['dataset']
  }
</script>

<style scoped>
  .subheading {
    float: left;
    margin-bottom: -20px;
  }
</style>
