<template>
  <div>
    <v-flex xs12 sm12 md1>
      <new-segment-modal :dataset="$dataset"></new-segment-modal>
    </v-flex>
    <v-data-table
      :headers="headers"
      :items="segments"
      :rowsPerPageItems="[10]"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">
          {{ props.item.seg_id }}
        </td>
        <td>
          <v-edit-dialog
            :return-value.sync="props.item.seg_name"
            lazy
          > {{ props.item.seg_name }}
            <v-text-field
              slot="input"
              v-model="props.item.seg_name"
              label="Edytuj"
              single-line
              @blur="saveItem(props.item)"
            ></v-text-field>
          </v-edit-dialog>
        </td>
        <td class="lastTd">
          <v-edit-dialog class="description-column"
                         :return-value.sync="props.item.seg_description"
                         lazy
          > {{ props.item.seg_description }}
            <v-text-field
              slot="input"
              v-model="props.item.seg_description"
              label="Edytuj"
              textarea
              @blur="saveItem(props.item)"
            ></v-text-field>
          </v-edit-dialog>
        </td>
        <td>
          <v-btn @click="openSegmentStructure([props.item.seg_name, props.item.seg_id])" color="primary" dark left>
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn @click="deleteItem" color="primary" dark left>
            <v-icon>delete</v-icon>
          </v-btn>
        </td>
        <v-dialog v-model="deleteSegmentDialog" max-width="290">
          <v-card>
            <v-card-title class="headline">Usunąć ten segment?</v-card-title>
            <v-card-text>Wszytskie podsegmenty tego segmentu także zostaną usunięte, tej operacji nie da się cofnąć.
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat="flat" @click.native="deleteSegmentDialog = false">Cofnij</v-btn>
              <v-btn color="green darken-1" flat="flat" @click.native="confirmDelete(props.item )">Tak, usuń</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
  import EventBus from '../../event-bus';
  import NewSegment from './NewSegment'

  export default {
    data() {
      return {
        deleteSegmentDialog: false,
        pagination: {},
        headers: [
          {
            text: '#',
            align: 'left',
            sortable: false,
            value: 'seg_id'
          },
          {text: 'Nazwa segmentu', value: 'segment_name'},
          {text: 'Opis segmentu', value: 'segment_description'},
          {text: '', value: ''},
        ]
      }
    },

    methods: {
      confirmDelete: function (item) {
        let $this = this;
        $this.$http.delete(this.$baseAddr + '/message-segment', {
          params: {
            dataset: $this.$store.state.dataset,
            segmentId: item.seg_id
          }
        })
          .then(function (response) {
            $this.deleteSegmentDialog = false;
            $this.loadItems();
          })
          .catch(function (error) {
            console.log(error);
          });
      },

      deleteItem: function () {
        this.deleteSegmentDialog = true;
      },

      saveItem: function (item) {
        let $this = this;
        $this.$http.put(this.$baseAddr + '/message-segment', {
          dataset: $this.$store.state.dataset,
          segmentId: item.seg_id,
          segmentName: item.seg_name,
          segmentDescription: item.seg_description
        })
          .then(function (response) {
            $this.loadItems();
          })
          .catch(function (error) {
            console.log(error);
          });
      },

      openSegmentStructure: function (segmentNameAndId) {
        this.$store.commit('setSegmentNameAndId', segmentNameAndId);
        this.$router.push('/segment/fields');
      },

      loadItems: function () {
        let $this = this;
        $this.$http.get(this.$baseAddr + '/hl7file', {
          params: {
            'name': $this.$store.state.dataset
          }
        })
          .then(function (response) {
            $this.$store.state.segmentList = response.data.headers;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },

    mounted() {
      this.$store.state.actualViewMessage = "Lista segmetnów";
      this.loadItems();
      let $this = this;
      EventBus.$on('SegmentsListLoad', $this.loadItems)
    }

    ,

    computed: {
      segments: function () {
        return this.$store.state.segmentList
      }
    },

    components: {
      'new-segment-modal':
      NewSegment
    }
  }
</script>

<style scoped>
  .description-column {
    text-align: left;
  }
</style>
