<template>
  <v-dialog fullscreen hide-overlay transition="dialog-bottom-transition" v-model="dialog" scrollable>
    <v-card tile>
      <v-toolbar card color="primary">
        <v-btn icon dark @click.native="$store.state.messageEditorVisible = false">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>Nowa wiadomość {{ event.evt_name }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <!--<v-btn flat @click.native="saveEevent">Zapisz</v-btn>-->
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text>
        <v-layout>
          <v-flex sm7>
            <template v-for="segment in segmentsList">
              <v-layout>
                <v-flex sm1>{{segment.segmentName}}:</v-flex>
                <v-flex sm11>
                  <div v-for="field in segment.fields">
                    <v-text-field type="text" class="fieldInput" :style="{width: (field.userValue.length * 9) + 'px'}"
                                  v-model="field.userValue" :length="field.userValue.length + 3"
                                  @focus="selectFocused(segment, field)"
                                  @mouseover="selectFocused(segment, field)"></v-text-field>
                  </div>
                </v-flex>
              </v-layout>
              <v-divider></v-divider>
            </template>
          </v-flex>
          <v-flex sm5>
            <v-layout v-if="focusedSegment.segmentName">
              <h2>{{ focusedSegment.segmentName }}-{{ focusedField.fld_order }} ({{ focusedField.fld_name }})</h2>
              <div>{{ focusedField.fld_description }}</div>
            </v-layout>
            <v-divider></v-divider>
            <v-layout>
              <h1>Gotowa wiadomość:</h1>
            </v-layout>
            <v-layout>
              <p style="white-space:pre-line !important; text-align: left; border: 1px solid; width: 100%;">
                {{ result }}
              </p>
            </v-layout>
          </v-flex>


        </v-layout>

      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'message-creator',
    data: function () {
      return {
        segmentsList: [],
        focusedField: {},
        focusedSegment: {},
      }
    },
    computed: {
      result: function () {
        let result = '';
        for (let i = 0; i < this.segmentsList.length; i++) {
          result += this.segmentsList[i].segmentName.trim();
          for (let j = 0; j < this.segmentsList[i].fields.length; j++) {
            result += '|';
            result += this.segmentsList[i].fields[j].userValue;
          }
          result += '\n';
        }

        return result;
      },
      dialog: function () {
        if (this.event.evt_id)
          this.loadEditorStructure();
        return this.$store.state.messageEditorVisible
      }
    },
    methods: {
      selectFocused: function (segment, field) {
        this.focusedField = field;
        this.focusedSegment = segment;

      },
      loadEditorStructure: function () {
        let $this = this;
        this.$http.get(this.$baseAddr + '/message-construction', {
          params: {
            'dataset': $this.$store.state.dataset,
            'eventId': $this.event.evt_id
          }
        }).then(function (response) {
          $this.segmentsList = response.data;
        })
          .catch(function (error) {
            console.log(error);
          });
        //
      }
    },
    props: ['event']
  }
</script>

<style>
  .fieldInput {
    float: left;
    min-width: 40px;
    margin-left: 10px;
  }
</style>
