<template>
  <v-footer height="auto" class="grey darken-3">
    <v-layout row wrap justify-center>
      <v-flex xs12 py-3 text-xs-center white--text>
        &copy;2018 — <strong>HL7 messages generator</strong>
      </v-flex>
    </v-layout>
    <v-layout row wrap justify-center>
      <v-flex xs12 py-3 text-xs-center white--text>
        <strong>Oleksandr Fedoruk, UMCS</strong>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
  export default {
    'name': 'my-footer',
    data: () => ({

    })
  }
</script>
