<template>
  <v-toolbar app>
    <v-toolbar-side-icon @click="changeLeftPanelState"></v-toolbar-side-icon>
    <v-toolbar-title><h1>{{ $store.state.actualViewMessage }}</h1></v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">

      <v-btn v-bind:flat="!($route.path === '/segment' || $route.path === '/segment/fields')" @click="$router.push('/segment')">Segmenty</v-btn>
      <v-btn v-bind:flat="!($route.path === '/message-types' || $route.path === '/events')" @click="$router.push('/message-types')">Typy wiadomości</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
  export default {
    name: 'toolbar',

    methods: {
      changeLeftPanelState: function () {
        this.$store.state.leftPanelVisible = !this.$store.state.leftPanelVisible;
      }
    },

    computed: {
      selected: function () {
        return false;
      }
    }
  }
</script>
