<template>
  <div>
    <v-flex xs12 sm12 md1>
      <new-event-modal></new-event-modal>
    </v-flex>
    <v-data-table
      :headers="headers"
      :items="events"
      :rowsPerPageItems="[10]"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">
          {{ props.item.evt_id }}
        </td>
        <!-- ###################### -->
        <td>
          <v-edit-dialog
            :return-value.sync="props.item.evt_name"
            lazy
          > {{ props.item.evt_name }}
            <v-text-field
              slot="input"
              v-model="props.item.evt_name"
              label="Edytuj"
              single-line
              @blur="saveItem(props.item)"
            ></v-text-field>
          </v-edit-dialog>
        </td>
        <!-- ####################### -->
        <td>
          <v-edit-dialog class="description-column"
                         :return-value.sync="props.item.evt_description"
                         lazy
          > {{ props.item.evt_description }}
            <v-text-field
              slot="input"
              v-model="props.item.evt_description"
              label="Edytuj"
              textarea
              @blur="saveItem(props.item)"
            ></v-text-field>
          </v-edit-dialog>
        </td>
        <td class="lastTd">
          <event-editor :event="eventToEdit"></event-editor>
          <message-creator :event="eventToEdit"></message-creator>
          <v-btn @click="openEventEditor(props.item)" color="primary" dark left>
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn @click="deleteItem(props.item)" color="primary" dark left>
            <v-icon>delete</v-icon>
          </v-btn>
          <v-btn @click="openMessageCreation(props.item)" color="primary" dark left>
            Stworzyć wiadomość
          </v-btn>
        </td>
        <v-dialog v-model="deleteEventDialog" max-width="290">
          <v-card>
            <v-card-title class="headline">Usunąć to wydarzenie?</v-card-title>
            <v-card-text>Wszytskie wydarzenia tego typu także zostaną usunięte, tej operacji nie da się cofnąć.
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat="flat" @click.native="deleteEventDialog = false">Cofnij</v-btn>
              <v-btn color="green darken-1" flat="flat" @click.native="confirmDelete(props.item )">Tak, usuń</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      </template>


      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
  import NewEvent from './NewEventModal'
  import MessageCreator from './../messageCreator/MessageCreator'

  export default {
    data() {
      return {
        itemToDelete: {},
        deleteEventDialog: false,
        pagination: {},
        eventToEdit: {},
        headers: [
          {
            text: '#',
            align: 'left',
            sortable: false,
            value: 'message_type_id'
          },
          {text: 'Nazwa typu wiadomości', value: 'message_type_name'},
          {text: 'Opis typu wiadomości', value: 'message_type_description'},
          {text: '', value: ''},
        ]
      }
    },

    methods: {
      openMessageCreation: function (item) {
        this.eventToEdit = item;
        this.$store.state.messageEditorVisible = true;
      },

      openEventEditor: function (item) {
        this.eventToEdit = item;
        this.$store.state.eventEditorVisible = true;
      },

      confirmDelete: function () {
        let $this = this;
        let item = this.itemToDelete;
        debugger;
        $this.$http.delete(this.$baseAddr + '/event', {
          params: {
            dataset: $this.$store.state.dataset,
            eventId: item.evt_id,
            messageTypeId: $this.$store.state.messageTypeId
          }
        })
          .then(function () {
            $this.deleteEventDialog = false;
            $this.loadEvents();
          })
          .catch(function (error) {
            console.log(error);
          });
      },

      deleteItem: function (item) {
        this.itemToDelete = item;
        this.deleteEventDialog = true;
      },

      saveItem: function (item) {
        let $this = this;
        $this.$http.put(this.$baseAddr + '/event', {
          dataset: $this.$store.state.dataset,
          eventId: item.evt_id,
          eventName: item.evt_name,
          eventDescription: item.evt_description,
          messageTypeId: $this.$store.state.messageTypeId
        })
          .then(function (response) {
            $this.loadEvents()
          })
          .catch(function (error) {
            console.log(error);
          });
      },

      openEvent: function (eventNameAndId) {
        this.$store.commit('setEventNameAndId', eventNameAndId);
        this.$router.push('/events');
      },

      loadEvents: function () {

        if (!this.$store.getters.isDatasetSelected) {
          this.$router.push('/');
          return;
        }
        let $this = this;
        $this.$http.get(this.$baseAddr + '/event', {
          params: {
            'dataset': $this.$store.state.dataset,
            'messageTypeId': $this.$store.state.messageTypeId
          }
        })
          .then(function (response) {
            $this.$store.state.eventList = response.data;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },

    mounted() {
      this.$store.state.actualViewMessage = "Lista typów wiadomości / " + this.$store.state.messageTypeName;
      this.loadEvents();
    },

    computed: {
      events: function () {
        return this.$store.state.eventList
      }
    },

    components: {
      'new-event-modal': NewEvent,
      'message-creator': MessageCreator
    }
  }
</script>

<style scoped>
  .description-column {
    text-align: left;
  }
</style>
