<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialogOpen" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Stwórz nowy zbiór danych</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Nazwa zbioru danych" type="text" required v-model="datasetName"></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeModal">Cofnij</v-btn>
          <v-btn color="blue darken-1" :disabled="datasetName.length < 3" flat @click.native="createNewDataset">Stwórz
          </v-btn>
        </v-card-actions>
        <v-alert :value="errorWhileCreating" type="error">
          Coś poszło nie tak, treść błędu: {{ errorMessage }}
        </v-alert>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import EventBus from '../../event-bus'

  export default {
    name: 'new-dataset-modal',
    data: () => ({
      dialogOpen: false,
      datasetName: "",
      errorWhileCreating: false,
      errorMessage: ""
    }),

    methods: {
      openModal: function () {
        this.dialogOpen = true;
        this.resetComponent()
      },
      closeModal: function () {
        this.dialogOpen = false;
        this.resetComponent()
      },
      resetComponent: function () {
        this.errorWhileCreating = false;
        this.datasetName = "";
      },
      createNewDataset: function () {
        let $this = this;
        this.$http.post(this.$baseAddr + '/hl7file', {
          name: $this.datasetName
        })
          .then(function (response) {
            if (response.data.status === "Success") {
              $this.closeModal()
            } else {
              $this.errorWhileCreating = true;
              $this.errorMessage = response.data.message;
            }

          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },

    mounted() {
      let $this = this;
      EventBus.$on('openNewDataSetModal', function () {
        $this.dialogOpen = true;
      });
    }

  }
</script>
