<template>
  <div class="text-xs-center">
    <v-menu offset-y class="left-menu">
      <v-btn @click="getAllVersions" slot="activator" color="primary" dark large block>{{ buttonMessage }}</v-btn>
      <v-list>
        <v-list-tile v-for="(item, index) in items" :key="index" @click="">
          <v-list-tile-title @click="item.onClick(item.title)">{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    <new-dataset-modal></new-dataset-modal>
  </div>
</template>

<script>
  import EventBus from "../../event-bus"

  export default {
    data: () => ({
      buttonMessage: 'Wybrać zbiór danych',
      items: [],
      openNewDataSetModelSeen: false
    }),

    methods: {
      createDataSet: function () {
        EventBus.$emit('openNewDataSetModal')
      },

      openDataSet: function (name) {
        this.buttonMessage = name;
        this.$store.commit('setDatasetName', name);
        EventBus.$emit('SegmentsListLoad');
        this.$store.state.leftPanelVisible = false;
        this.$router.push('/segment');
      },

      getAllVersions: function () {
        let $this = this;
        this.$http.get(this.$baseAddr + '/hl7files', {})
          .then(function (response) {
            $this.items = response.data;
            for (let i = 0; i < $this.items.length; i++) {
              $this.items[i].onClick = $this.openDataSet
            }
            $this.items.push({'title': "Stwórz nowy zestaw danych", 'onClick': $this.createDataSet});
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },

  }
</script>

<style scoped>
  .left-menu {
    width: 90%;
  }
</style>
