<template>
  <div>
    <v-flex xs12 sm12 md1>
      <new-message-type-modal></new-message-type-modal>
    </v-flex>
    <v-data-table
      :headers="headers"
      :items="messageTypes"
      :rowsPerPageItems="[10]"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">
          {{ props.item.mst_id }}
        </td>
        <!-- ###################### -->
        <td>
          <v-edit-dialog
            :return-value.sync="props.item.mst_name"
            lazy
          > {{ props.item.mst_name }}
            <v-text-field
              slot="input"
              v-model="props.item.mst_name"
              label="Edytuj"
              single-line
              @blur="saveItem(props.item)"
            ></v-text-field>
          </v-edit-dialog>
        </td>
        <!-- ####################### -->
        <td>
          <v-edit-dialog class="description-column"
                         :return-value.sync="props.item.mst_description"
                         lazy
          > {{ props.item.mst_description }}
            <v-text-field
              slot="input"
              v-model="props.item.mst_description"
              label="Edytuj"
              textarea
              @blur="saveItem(props.item)"
            ></v-text-field>
          </v-edit-dialog>
        </td>
        <td class="lastTd">
          <v-btn @click="openEvent([props.item.mst_name, props.item.mst_id])" color="primary" dark left>
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn @click="deleteItem(props.item)" color="primary" dark left>
            <v-icon>delete</v-icon>
          </v-btn>
        </td>
        <v-dialog v-model="deleteMessageTypeDialog" max-width="290">
          <v-card>
            <v-card-title class="headline">Usunąć ten typ wiadomości?</v-card-title>
            <v-card-text>Wszytskie wydarzenia tego typu także zostaną usunięte, tej operacji nie da się cofnąć.
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat="flat" @click.native="deleteMessageTypeDialog = false">Cofnij</v-btn>
              <v-btn color="green darken-1" flat="flat" @click.native="confirmDelete(props.item )">Tak, usuń</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      </template>


      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
  import NewMessageType from './NewMessageTypeModal'

  export default {
    data() {
      return {
        deleteMessageTypeDialog: false,
        pagination: {},
        headers: [
          {
            text: '#',
            align: 'left',
            sortable: false,
            value: 'message_type_id'
          },
          {text: 'Nazwa typu wiadomości', value: 'message_type_name'},
          {text: 'Opis typu wiadomości', value: 'message_type_description'},
          {text: '', value: ''},
        ]
      }
    },

    methods: {
      confirmDelete: function (item) {
        let $this = this;
        $this.$http.delete(this.$baseAddr + '/message-type', {
          params: {
            dataset: $this.$store.state.dataset,
            messageTypeId: item.mst_id,
          }
        })
          .then(function () {
            $this.deleteMessageTypeDialog = false;
            $this.loadmessageTypes();
          })
          .catch(function (error) {
            console.log(error);
          });
      },

      deleteItem: function () {
        this.deleteMessageTypeDialog = true;
      },

      saveItem: function (item) {
        let $this = this;
        $this.$http.put(this.$baseAddr + '/message-type', {
          dataset: $this.$store.state.dataset,
          messageTypeId: item.mst_id,
          messageTypeName: item.mst_name,
          messageTypeDescription: item.mst_description
        })
          .then(function (response) {
            $this.loadmessageTypes()
          })
          .catch(function (error) {
            console.log(error);
          });
      },

      openEvent: function (messageTypeAndId) {
        this.$store.commit('setMessageTypeAndId', messageTypeAndId);
        this.$router.push('/events');
      },

      loadmessageTypes: function () {
        this.$store.state.actualViewMessage = "Lista typów wiadomości";
        if (!this.$store.getters.isDatasetSelected) {
          this.$router.push('/');
          return;
        }
        let $this = this;
        $this.$http.get(this.$baseAddr + '/message-type', {
          params: {
            'dataset': $this.$store.state.dataset
          }
        })
          .then(function (response) {
            $this.$store.state.messageTypeList = response.data;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },

    mounted() {
      this.loadmessageTypes();
    },

    computed: {
      messageTypes: function () {
        return this.$store.state.messageTypeList
      }
    },

    components: {
      'new-message-type-modal':
      NewMessageType
    }
  }
</script>

<style scoped>
  .description-column {
    text-align: left;
  }
</style>
