<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-btn fixed right  slot="activator" color="primary" dark class="mb-2">Stwórz nowy typ wiadomości</v-btn>
    <v-card>
      <v-card-title>
        <span class="headline">Stwórz nowy typ wiadomości</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm12 md12>
              <v-text-field v-model="messageTypeName" label="Nazwa typu wiadomości"></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12>
              <p class="subheading">Opis typu wiadomości</p>
            </v-flex>
            <v-flex xs12 sm12 md12>
              <v-text-field
                slot="input"
                label="Edytuj"
                v-model="messageTypeDescription"
                textarea
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click.native="close">Cofnij</v-btn>
        <v-btn color="blue darken-1" flat @click.native="save">Zapisz</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'new-message-type-modal',

    data: function () {
      return {
        dialog: false,
        messageTypeName: '',
        messageTypeDescription: ''
      }
    },

    methods: {
      close: function () {
        this.dialog = false;
      },

      save: function () {
        let $this = this;
        this.$http.post($this.$baseAddr + '/message-type', {
          dataset: $this.$store.state.dataset,
          messageTypeName: $this.messageTypeName,
          messageTypeDescription: $this.messageTypeDescription,
          segmentId: $this.$store.state.segmentId
        })
          .then(function (response) {
            $this.$store.state.messageTypeList = response.data;
            $this.close();
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  }
</script>

<style scoped>
  .subheading {
    float: left;
    margin-bottom: -20px;
  }
</style>

