<template>
  <v-dialog
    v-model="dialog"
    scrollable
  >
    <v-card tile>
      <v-toolbar card color="primary">
        <v-btn icon dark @click.native="$store.state.eventEditorVisible = false">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>Edycja wydarzenia {{ event.evt_name }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn flat @click.native="saveEevent">Zapisz</v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <v-card-text>
        <v-layout>
          <v-flex sm5>
            <v-card class="fullSegmentInfo">
              <v-card-title primary-title>
                <h3>{{ selectedItem.seg_name || "Nie został wybrany segment" }}</h3>
              </v-card-title>
              <p class="segmentDescription">
                {{ selectedItem.seg_description || "Nie ma opisu" }}
              </p>
            </v-card>
          </v-flex>
          <v-flex sm4 style="padding: 10px">
            <v-list two-line style="border: 1px solid #616161">
              <template v-for="(item, index) in items">
                <v-subheader v-if="item.header" :key="item.header"><h2>{{ item.header }}</h2></v-subheader>
                <v-divider v-else-if="item.divider" :inset="item.inset" :key="index"></v-divider>
                <v-list-tile v-else :key="item.seg_name" @click="selectSegment(item)"
                             :class="{'deep-purple darken-2': selectedItem.seg_id === item.seg_id  }">
                  <v-list-tile-content>
                    <v-list-tile-title v-html="item.seg_name"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="item.seg_description"></v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list>
          </v-flex>
          <v-flex sm1>
            <v-btn large block color="success" @click="addSegmentToEvent">
              <v-icon>arrow_right_alt</v-icon>
            </v-btn>
          </v-flex>

          <v-flex sm4 style="padding: 10px">
            <v-list two-line style="border: 1px solid #616161 ">
              <template v-for="(item, index) in event_items">
                <v-subheader v-if="item.header" :key="item.header"><h2>{{ item.header }}</h2></v-subheader>
                <v-divider v-else-if="item.divider" :inset="item.inset" :key="index"></v-divider>
                <v-list-tile v-else :key="item.seg_name">
                  <v-list-tile-content>
                    <v-list-tile-title v-html="item.seg_name"></v-list-tile-title>

                  </v-list-tile-content>
                  <v-btn @click="removeSegment(item)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </v-list-tile>
              </template>
            </v-list>
          </v-flex>
        </v-layout>


      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'event-editor',

    data: function () {
      return {
        usedSegments: [],
        selectedItem: {},
        isSelected: true
      }
    },

    methods: {
      saveEevent: function () {
        let $this = this;
        let eventObj = {
          dataset: this.$store.state.dataset,
          evt_id: this.event.evt_id,
          segments: this.usedSegments
        };

        this.$http.post($this.$baseAddr + '/message-structure', eventObj)
          .then(function (response) {
            $this.$store.state.eventEditorVisible = false;
          })
          .catch(function (error) {
            console.log(error);
          });
      },

      selectSegment: function (item) {
        if (this.selectedItem.seg_id === item.seg_id) {
          this.selectedItem = {};
          return;
        }
        this.selectedItem = item;
      },

      addSegmentToEvent() {
        if (this.selectedItem.seg_id) {
          this.usedSegments.push(this.selectedItem);
          this.selectedItem = {};
        }
      },

      removeSegment(item) {
        let index = this.usedSegments.indexOf(item);
        this.usedSegments.splice(index, 1);
      },

      loadEvent() {
        let $this = this;
        $this.$http.get(this.$baseAddr + '/message-structure', {
          params: {
            'dataset': $this.$store.state.dataset,
            'eventId': $this.event.evt_id
          }
        })
          .then(function (response) {
            $this.usedSegments = response.data;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },

    computed: {
      dialog: function () {
        if (this.event.evt_id)
          this.loadEvent();
        return this.$store.state.eventEditorVisible
      },

      items: function () {
        let listOfSegments = [{header: 'Lista dostępnych segmentów'}];
        listOfSegments.push(...this.$store.state.segmentList);
        return listOfSegments.reduce((r, a) => r.concat(a, {divider: true, inset: true}), []);
      },

      event_items: function () {
        let listOfSegments = [{header: 'Lista segmentów w wydarzeniu'}];
        listOfSegments.push(...this.usedSegments);
        return listOfSegments.reduce((r, a) => r.concat(a, {divider: true, inset: true}), []);
      }
    },

    props: ['event']
  }
</script>

<style scoped>
  .list {
    border: 2px solid !important;
    height: 450px;
    overflow-y: scroll;
  }

  .dialog-fullscreen {
    top: 65px !important;
  }

  .fullSegmentInfo {
    margin-top: 10px;
    height: 450px !important;
  }

  .segmentDescription {
    text-align: justify;
    padding: 10px;
  }
</style>
