<template>
  <v-app id="app">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <v-navigation-drawer app v-if="$store.state.leftPanelVisible">
      <version-selecter></version-selecter>
    </v-navigation-drawer>
    <toolbar></toolbar>
    <v-content class="main-content">
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <my-footer></my-footer>


  </v-app>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .main-content {
    padding-top: 0px !important;
  }
</style>
